In [ ]:
import pandas as pd

In [ ]:
df = pd.read_excel('Gold Price Prediction.xlsx')
df

,Date,Price 2 Days Prior,Price 1 Day Prior,Price Today,Price Tomorrow,Price Change Tomorrow,Price Change Ten,Std Dev 10,Twenty Moving Average,Fifty Day Moving Average,...,Monthly Inflation Rate,EFFR Rate,Volume,Treasury Par Yield Month,Treasury Par Yield Two Year,Treasury Par Yield Curve Rates (10 Yr),DXY,SP Open,VIX,Crude
0,2024-07-08 00:00:00,2405.87,2384-09-01 00:00:00,2385.83,NaN,NaN,NaN,3.015508e+09,2414745,23682948,...,3,5.33,96,2024-05-05 00:00:00,4,3.96,103.37,5293.13,24.77,72.84
1,2024-06-08 00:00:00,2442.74,2405.87,2384-09-01 00:00:00,2385.83,0.93,NaN,2.942394e+09,24141525,23677916,...,3,5.33,89,2024-05-05 00:00:00,3.99,2024-09-03 00:00:00,102.78,5206.42,33.71,73.86
2,2024-05-08 00:00:00,2447.17,2442.74,2405.87,2384-09-01 00:00:00,-20.97,NaN,2.834130e+09,24132305,23671584,...,3,5.33,86,5.52,3.89,3.78,103.22,5151.14,23.39,74.21
3,2024-02-08 00:00:00,2447.23,2447.17,2442.74,2405.87,-36.87,NaN,2.861666e+09,2411092,2365725,...,3,5.33,89,5.54,3.88,2024-08-03 00:00:00,104.31,5376.63,20.52,76.87
4,2024-01-08 00:00:00,2411-09-01 00:00:00,2447.23,2447.17,2442.74,-4.43,NaN,2.608480e+09,2408567,23635624,...,3,5.33,83,5.55,4.16,3.99,104.07,5537.84,2024-02-16 00:00:00,78.59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
671,2022-07-01 00:00:00,1810.28,1791.61,1796.41,1801.52,2024-11-05 00:00:00,38.17,NaN,4508225,180329,...,2024-05-07 00:00:00,0.1,71,0.05,0.87,1.76,96.26,4697.66,19.85,79.62
672,2022-06-01 00:00:00,1813.88,1810.28,1791.61,1796.41,2024-08-04 00:00:00,47.4,NaN,361002,1444008,...,2024-05-07 00:00:00,0.1,73,0.04,0.88,1.73,96.20,4693.39,20.29,77.24
673,2022-05-01 00:00:00,1804.27,1813.88,1810.28,1791.61,-18.67,2024-03-28 00:00:00,NaN,2714215,1085686,...,2024-05-07 00:00:00,0.1,74,0.05,0.83,1.71,96.31,4787.99,2024-07-17 00:00:00,77.18
674,2022-04-01 00:00:00,1815.73,1804.27,1813.88,1810.28,-3.6,0.45,NaN,1809075,72363,...,2024-05-07 00:00:00,0.1,74,0.06,0.77,1.66,96.19,4804.51,16.57,76.02
675,2022-03-01 00:00:00,1804.64,1829.05,1804.27,1813.88,9.61,14.95,NaN,902135,360854,...,2024-05-07 00:00:00,0.1,74,0.05,0.78,1.63,95.67,4778.14,2024-06-17 00:00:00,75.69

In [ ]:
df.dtypes

Date                                       object
Price 2 Days Prior                         object
Price 1 Day Prior                          object
Price Today                                object
Price Tomorrow                             object
Price Change Tomorrow                      object
Price Change Ten                           object
Std Dev 10                                float64
Twenty Moving Average                      object
Fifty Day Moving Average                   object
200 Day Moving Average                    float64
Monthly Inflation Rate                     object
EFFR Rate                                  object
Volume                                      int64
Treasury Par Yield Month                   object
Treasury Par Yield Two Year                object
Treasury Par Yield Curve Rates (10 Yr)     object
DXY                                       float64
SP Open                                    object
VIX                                        object
Crude                                     float64
dtype: object

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 676 entries, 0 to 675
Data columns (total 21 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Date                                    676 non-null    object
 1   Price 2 Days Prior                      676 non-null    object
 2   Price 1 Day Prior                       676 non-null    object
 3   Price Today                             676 non-null    object
 4   Price Tomorrow                          675 non-null    object
 5   Price Change Tomorrow                   675 non-null    object
 6   Price Change Ten                        666 non-null    object
 7   Std Dev 10                              667 non-null    float64
 8   Twenty Moving Average                   676 non-null    object
 9   Fifty Day Moving Average                676 non-null    object
 10  200 Day Moving Average                  676 non-null    float64
 11  Monthly Inflation Rate                  676 non-null    object
 12  EFFR Rate                               676 non-null    object
 13  Volume                                  676 non-null    int64
 14  Treasury Par Yield Month                676 non-null    object
 15  Treasury Par Yield Two Year             676 non-null    object
 16  Treasury Par Yield Curve Rates (10 Yr)  676 non-null    object
 17  DXY                                     676 non-null    float64
 18  SP Open                                 676 non-null    object
 19  VIX                                     676 non-null    object
 20  Crude                                   676 non-null    float64
dtypes: float64(4), int64(1), object(16)
memory usage: 111.0+ KB

In [ ]:
df.shape

(676, 21)

In [ ]:
DatosFaltantes=df.isna().sum()
DatosFaltantes

Date                                       0
Price 2 Days Prior                         0
Price 1 Day Prior                          0
Price Today                                0
Price Tomorrow                             1
Price Change Tomorrow                      1
Price Change Ten                          10
Std Dev 10                                 9
Twenty Moving Average                      0
Fifty Day Moving Average                   0
200 Day Moving Average                     0
Monthly Inflation Rate                     0
EFFR Rate                                  0
Volume                                     0
Treasury Par Yield Month                   0
Treasury Par Yield Two Year                0
Treasury Par Yield Curve Rates (10 Yr)     0
DXY                                        0
SP Open                                    0
VIX                                        0
Crude                                      0
dtype: int64

In [ ]:

for column in df.columns:
  if df[column].dtype == 'object' and column != 'Date':
    df[column] = df[column].astype('float64')

df.dtypes

TypeError: float() argument must be a string or a real number, not 'datetime.datetime'

In [ ]:
# prompt: me sale este error TypeError                                 Traceback (most recent call last)
# <ipython-input-67-d8aeb516fe96> in <cell line: 1>()
#       1 for column in df.columns:
#       2   if df[column].dtype == 'object' and column != 'Date':
# ----> 3     df[column] = df[column].astype('float64')
#       4
#       5 df.dtypes
# 6 frames
# /usr/local/lib/python3.10/dist-packages/pandas/core/dtypes/astyp

for column in df.columns:
  if df[column].dtype == 'object' and column != 'Date':
    try:
      df[column] = df[column].str.replace(',', '.').astype('float64') # Reemplaza comas por puntos y convierte a float64
    except:
      print(f"Error converting column {column}") # Imprime un mensaje de error si la conversión falla
df.dtypes

Date                                       object
Price 2 Days Prior                        float64
Price 1 Day Prior                         float64
Price Today                               float64
Price Tomorrow                            float64
Price Change Tomorrow                     float64
Price Change Ten                          float64
Std Dev 10                                float64
Twenty Moving Average                     float64
Fifty Day Moving Average                  float64
200 Day Moving Average                    float64
Monthly Inflation Rate                    float64
EFFR Rate                                 float64
Volume                                      int64
Treasury Par Yield Month                  float64
Treasury Par Yield Two Year               float64
Treasury Par Yield Curve Rates (10 Yr)    float64
DXY                                       float64
SP Open                                   float64
VIX                                       float64
Crude                                     float64
dtype: object

In [ ]:
for col in df.columns:
    if df[col].dtype == 'object' and col != 'Date':
        df[col] = pd.to_numeric(df[col], errors='coerce')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 676 entries, 0 to 675
Data columns (total 21 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Date                                    676 non-null    object
 1   Price 2 Days Prior                      596 non-null    float64
 2   Price 1 Day Prior                       595 non-null    float64
 3   Price Today                             595 non-null    float64
 4   Price Tomorrow                          594 non-null    float64
 5   Price Change Tomorrow                   605 non-null    float64
 6   Price Change Ten                        635 non-null    float64
 7   Std Dev 10                              667 non-null    float64
 8   Twenty Moving Average                   672 non-null    float64
 9   Fifty Day Moving Average                672 non-null    float64
 10  200 Day Moving Average                  676 non-null    float64
 11  Monthly Inflation Rate                  135 non-null    float64
 12  EFFR Rate                               590 non-null    float64
 13  Volume                                  676 non-null    int64
 14  Treasury Par Yield Month                600 non-null    float64
 15  Treasury Par Yield Two Year             529 non-null    float64
 16  Treasury Par Yield Curve Rates (10 Yr)  553 non-null    float64
 17  DXY                                     676 non-null    float64
 18  SP Open                                 547 non-null    float64
 19  VIX                                     538 non-null    float64
 20  Crude                                   676 non-null    float64
dtypes: float64(19), int64(1), object(1)
memory usage: 111.0+ KB

In [ ]:
ListaValNum = ["Price Tomorrow","Price Change Tomorrow","Price Change Ten","Std Dev 10"]

In [ ]:
for col in ListaValNum:
 df[col] = df[col].fillna(df[col].mean())

In [ ]:
DatosFaltantes=df.isna().sum()
DatosFaltantes

Date                                        0
Price 2 Days Prior                         87
Price 1 Day Prior                          88
Price Today                                88
Price Tomorrow                              0
Price Change Tomorrow                       0
Price Change Ten                            0
Std Dev 10                                  0
Twenty Moving Average                     650
Fifty Day Moving Average                  669
200 Day Moving Average                      0
Monthly Inflation Rate                    676
EFFR Rate                                  86
Volume                                      0
Treasury Par Yield Month                   76
Treasury Par Yield Two Year               154
Treasury Par Yield Curve Rates (10 Yr)    127
DXY                                         0
SP Open                                   138
VIX                                       143
Crude                                       0
dtype: int64